In [5]:
import pandas as pd
df = pd.read_csv('air_info.csv')

In [6]:
df

   Airlines  arr_time  arr_delay           dest
0       NaN       NaN        NaN            NaN
1    Alaska     497.0       62.0    Los Angeles
2    Alaska     221.0       12.0        Phoenix
3    Alaska     212.0       20.0      San Diego
4    Alaska     503.0      102.0  San Francisco
5    Alaska    1841.0      305.0        Seattle
6    Alaska     694.0      117.0    Los Angeles
7   AM West    4840.0      415.0        Phoenix
8   AM West     383.0       65.0      San Diego
9   AM West     320.0      129.0  San Francisco
10  AM West     201.0       61.0        Seattle

In [8]:
#calculating the percentage of Alaska filght delay
AlaskaFlights = df['arr_delay'].head() + df['arr_time'].head()
AlaskaPercentDelay = (df['arr_delay'].head() / AlaskaFlights ) * 100


print (AlaskaPercentDelay)

0          NaN
1    11.091234
2     5.150215
3     8.620690
4    16.859504
dtype: float64

In [9]:
AMWFlights = df['arr_delay'].tail() + df['arr_time'].tail()
AMWPercentDelay = (df['arr_delay'].tail() / AMWFlights ) * 100


print (AMWPercentDelay)

6     14.426634
7      7.897241
8     14.508929
9     28.730512
10    23.282443
dtype: float64